/* Uncomment to enable TailwindCSS */

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: light;
  }

  @media (prefers-color-scheme: light) {
    color-scheme: dark;
  }
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* .page-content {
  margin: auto;
  max-width: 900px;
}

table {
  width: 100%;
  line-height: 36px;
  text-align: center;
}

table>tbody>tr {
  margin-top: 8px;
}

.btn-new {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
  
}
.btn-list{
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.btn-list>div>button{
  margin-right: 24px;
}
button{
  cursor: pointer;
  
}

a.btn {
  cursor: pointer;
  padding: 8px 12px;
  background-color: chartreuse;
  border-radius: 8px;
}
a.btn:hover{
  color: white;
}

nav {}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 12px 24px;

}

.nav-link:hover {
  color: chartreuse;

} */